.svg-descr-ico1-dims {
	width: 52px;
	height: 52px;
}
.svg-descr-ico2-dims {
	width: 52px;
	height: 54px;
}
.svg-descr-ico3-dims {
	width: 59px;
	height: 53px;
}
.svg-descr-ico4-dims {
	width: 57px;
	height: 49px;
}
.svg-descr-ico5-dims {
	width: 53px;
	height: 57px;
}
.svg-descr-ico6-dims {
	width: 59px;
	height: 56px;
}
.svg-footer__social1-dims {
	width: 23px;
	height: 16px;
}
.svg-footer__social2-dims {
	width: 9px;
	height: 17px;
}
.svg-footer__social3-dims {
	width: 17px;
	height: 17px;
}
